# Chocolate dataset pre-processing

## Import libraries

In [28]:
import pandas as pd
import numpy as np

## Load dataset

In [29]:
dataset = pd.read_csv('flavors_of_cacao.csv')

## Basic data exploration

### 4 primeros y 4 últimos registros

In [30]:
dataset.head(4)

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo

In [31]:
dataset.tail(4)

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

### Información sobre el dataset

In [32]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [33]:
dataset.shape

(1795, 9)

In [34]:
dataset.dtypes

Company \n(Maker-if known)            object
Specific Bean Origin\nor Bar Name     object
REF                                    int64
Review\nDate                           int64
Cocoa\nPercent                        object
Company\nLocation                     object
Rating                               float64
Bean\nType                            object
Broad Bean\nOrigin                    object
dtype: object

### Null values

In [35]:
dataset.isnull().sum()

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           1
Broad Bean\nOrigin                   1
dtype: int64

### Duplicated values

In [36]:
dataset.duplicated().sum()

np.int64(0)

### Verification of country's name

In [38]:
print(dataset['Company\nLocation'].unique())

['France' 'U.S.A.' 'Fiji' 'Ecuador' 'Mexico' 'Switzerland' 'Netherlands'
 'Spain' 'Peru' 'Canada' 'Italy' 'Brazil' 'U.K.' 'Australia' 'Wales'
 'Belgium' 'Germany' 'Russia' 'Puerto Rico' 'Venezuela' 'Colombia' 'Japan'
 'New Zealand' 'Costa Rica' 'South Korea' 'Amsterdam' 'Scotland'
 'Martinique' 'Sao Tome' 'Argentina' 'Guatemala' 'South Africa' 'Bolivia'
 'St. Lucia' 'Portugal' 'Singapore' 'Denmark' 'Vietnam' 'Grenada' 'Israel'
 'India' 'Czech Republic' 'Domincan Republic' 'Finland' 'Madagascar'
 'Philippines' 'Sweden' 'Poland' 'Austria' 'Honduras' 'Nicaragua'
 'Lithuania' 'Niacragua' 'Chile' 'Ghana' 'Iceland' 'Eucador' 'Hungary'
 'Suriname' 'Ireland']

In [40]:
print(dataset['Broad Bean\nOrigin'].unique())

['Sao Tome' 'Togo' 'Peru' 'Venezuela' 'Cuba' 'Panama' 'Madagascar'
 'Brazil' 'Ecuador' 'Colombia' 'Burma' 'Papua New Guinea' 'Bolivia' 'Fiji'
 'Mexico' 'Indonesia' 'Trinidad' 'Vietnam' 'Nicaragua' 'Tanzania'
 'Dominican Republic' 'Ghana' 'Belize' '\xa0' 'Jamaica' 'Grenada'
 'Guatemala' 'Honduras' 'Costa Rica' 'Domincan Republic' 'Haiti' 'Congo'
 'Philippines' 'Malaysia' 'Dominican Rep., Bali'
 'Venez,Africa,Brasil,Peru,Mex' 'Gabon' 'Ivory Coast' 'Carribean'
 'Sri Lanka' 'Puerto Rico' 'Uganda' 'Martinique' 'Sao Tome & Principe'
 'Vanuatu' 'Australia' 'Liberia' 'Ecuador, Costa Rica' 'West Africa'
 'Hawaii' 'St. Lucia' 'Cost Rica, Ven' 'Peru, Madagascar'
 'Venezuela, Trinidad' 'Trinidad, Tobago' 'Ven, Trinidad, Ecuador'
 'South America, Africa' 'India' 'Africa, Carribean, C. Am.' 'Tobago'
 'Ven., Indonesia, Ecuad.' 'Trinidad-Tobago' 'Peru, Ecuador, Venezuela'
 'Venezuela, Dom. Rep.' 'Colombia, Ecuador' 'Solomon Islands' 'Nigeria'
 'Peru, Belize' 'Peru, Mad., Dom. Rep.' nan 'PNG, Vanuatu, Mad'
 'El Salvador' 'South America' 'Samoa' 'Ghana, Domin. Rep'
 'Trinidad, Ecuador' 'Cameroon' 'Venezuela, Java' 'Venezuela/ Ghana'
 'Venezuela, Ghana' 'Indonesia, Ghana' 'Peru(SMartin,Pangoa,nacional)'
 'Principe' 'Central and S. America' 'Ven., Trinidad, Mad.'
 'Carribean(DR/Jam/Tri)' 'Ghana & Madagascar' 'Ven.,Ecu.,Peru,Nic.'
 'Madagascar & Ecuador' 'Guat., D.R., Peru, Mad., PNG' 'Peru, Dom. Rep'
 'Dom. Rep., Madagascar' 'Gre., PNG, Haw., Haiti, Mad' 'Mad., Java, PNG'
 'Ven, Bolivia, D.R.' 'DR, Ecuador, Peru' 'Suriname' 'Peru, Ecuador'
 'Ecuador, Mad., PNG' 'Ghana, Panama, Ecuador' 'Venezuela, Carribean']

## Processes

Drop null values<br>
Delete % symbol from "Cocoa\nPercent" column<br>
Change column names<br>
Search why values in "Bean\nType" does not apper as null values

### Drop null values

In [19]:
dataset = dataset.dropna()

In [20]:
dataset.isnull().sum()

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           0
Broad Bean\nOrigin                   0
dtype: int64

### Delete % symbol

In [21]:
dataset['Cocoa\nPercent'] = dataset['Cocoa\nPercent'].str.rstrip('%').astype(float)/100

In [22]:
dataset['Cocoa\nPercent'].head(4)

0    0.63
1    0.70
2    0.70
3    0.70
Name: Cocoa\nPercent, dtype: float64

### Change column names

In [23]:
dataset = dataset.rename(columns={
    'Company \n(Maker-if known)': 'Company',
    'Specific Bean Origin\nor Bar Name': 'Specific_Bean_Origin_or_Bar_Name',
    'Review\nDate': 'Review_Date',
    'Cocoa\nPercent': 'Cocoa_Percent',
    'Company\nLocation': 'Company_Location',
    'Bean\nType': 'Bean_Type',
    'Broad Bean\nOrigin': 'Broad_Bean_Origin'
    })

In [24]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1793 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1793 non-null   object
 1   Specific_Bean_Origin_or_Bar_Name  1793 non-null   object
 2   REF                               1793 non-null   int64
 3   Review_Date                       1793 non-null   int64
 4   Cocoa_Percent                     1793 non-null   float64
 5   Company_Location                  1793 non-null   object
 6   Rating                            1793 non-null   float64
 7   Bean_Type                         1793 non-null   object
 8   Broad_Bean_Origin                 1793 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 140.1+ KB

#### Specific change to the column 'Company \n(Maker-if known)'

In [25]:
dataset = dataset.rename(columns={dataset.columns[0]: 'Company'})

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1793 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company                           1793 non-null   object
 1   Specific_Bean_Origin_or_Bar_Name  1793 non-null   object
 2   REF                               1793 non-null   int64
 3   Review_Date                       1793 non-null   int64
 4   Cocoa_Percent                     1793 non-null   float64
 5   Company_Location                  1793 non-null   object
 6   Rating                            1793 non-null   float64
 7   Bean_Type                         1793 non-null   object
 8   Broad_Bean_Origin                 1793 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 140.1+ KB